<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <link rel="icon" href="kreis.jpg" type="image/png">
    <link rel="icon" href="kreis.jpg" type="image/png">
    <link rel="icon" href="kreis.jpg" type="image/png">
    <link rel="apple-touch-icon" href="kreis.jpg" type="image/png">
    <link rel="apple-touch-icon" href="kreis.jpg" type="image/png">
    <link rel="apple-touch-icon" href="kreis.jpg" type="image/png">

    <link rel="manifest" href="manifest.json">


    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/messages.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <script src="/static/scripts/scripts.js" defer></script>


</head>
<body>
<div class="grey-box">
    hallo

</div>

<main>
    {% block main %}{% endblock %}
</main>

</body>

</html>